@charset "UTF-8";

@media screen and (max-width:480px) {
    .login-page{
        background: rgb(26, 26, 26) url(../images/login-android.png) no-repeat center / cover fixed;
    }
    .reg-page {
        background: rgb(26, 26, 26) url(../images/register-android.png) no-repeat center / cover fixed;
    }
    header { 
        padding: 2em 0 1em 1em;
    }
    header p {
        display: none;
    }

    .ajuda-head {
        display: none;
    }

    .contato {
        margin-right: 0;
    }
    
    .contato img {
        width: 32px;
        height:32px;
    }

    .login {
        font: 36px "Sulphur Point";
        position: absolute;
        top: 34%;
    }
    
    .reg {
        font: 32px "Sulphur Point";
        position: absolute;
        top: 16%;
    }

    .container-login, .container-reg {
        backdrop-filter: none;
        background-color: rgba(0, 0, 0, 0.438);
    }

    .container-login {
        height: 27vh;
        width: 75vw;
    }

    .container-reg {
        top:52%;
        height: 58vh;
        width: 75vw;
    }
    
    label{
        font: 19px "Poiret One", serif;
    }     

    .ajuda-fot {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        position: absolute;
        top: 95%;
        left: 35px;

        color: white;
    }

    .ajuda-fot p {
        margin-right: 2em;
    }
}

@media screen and (min-width: 481px) and (max-width:768px) {
    .login-page{
        background: rgb(26, 26, 26) url(../images/login-android.png) no-repeat center / cover fixed;
    }
    .reg-page {
        background: rgb(26, 26, 26) url(../images/register-android.png) no-repeat center / cover fixed;
        
    }
    header { 
        padding: 2em 0 1em 1em;
    }
    header p {
        margin-right: 3rem ;
        font: 21px "Sulphur Point";
    }

    .contato {
        margin-right: 5em;
    }
    
    .contato img {
        width: 38px;
        height:38px;
    }

    .login {
        font: 55px "Sulphur Point";
        position: absolute;
        top: 22%;
    }

    .container-login {
        width: 55vw;
        height:35vh;
        position: absolute;
        top: 48%;
        backdrop-filter: none;
        background-color: rgba(0, 0, 0, 0.363);
    }
    
    .container-reg {
        position: absolute;
        top: 60%;
        backdrop-filter: none;
        background-color: rgba(0, 0, 0, 0.363);
    }
    
    .reg {
        font: 42px "Sulphur Point";
        position: absolute;
        top: 12%;
    }
    
    label{
        font: 32px "Poiret One", serif;
    }   
    
    input {
        width: 350px;
        height: 3em;
        margin: 1em auto 3em;
    }
    
    #botao {
        width: 20vw;
        height: 5vh;
        font-size: 22px;
        margin-bottom: 2em;
    }

    .L-button {
        top: 105%;
        left: 20%;
    }

    .R-button {
        top: 105%;
        left: 15%;
    }

    .ajuda-fot {
        display: none
    }
}

@media  screen and (min-width:769px) and (max-width:1025px) {
    .login-page{
        background: rgb(26, 26, 26) url(../images/login-pc.png) no-repeat center / cover fixed;
    }
    .reg-page {
        background: rgb(26, 26, 26) url(../images/register-pc.png) no-repeat center / cover fixed;
        
    }
    header { 
        padding: 1em 0 1em 1em;
    }
    header p {
        margin-right: 2rem ;
        font: 21px "Sulphur Point";
    }

    .contato {
        margin-right: 7em;
    }
    
    .contato img {
        width: 38px;
        height:38px;
    }

    .login {
        font: 55px "Sulphur Point";
        position: absolute;
        top: 24%;
    }

    .container-login {
        width: 40vw;
        height:25vh;
        position: absolute;
        top: 44%;
        backdrop-filter: none;
        background-color: rgba(0, 0, 0, 0.363);
    }
    
    .container-reg {
        position: absolute;
        top: 55%;
        backdrop-filter: none;
        background-color: rgba(0, 0, 0, 0.363);
    }
    
    .reg {
        font: 32px "Sulphur Point";
        position: absolute;
        top: 17%;
    }
    
    label{
        font: 22px "Poiret One", serif;
    }   
    
    input {
        margin: 0 auto 10px;
        width: 300px;
        height: 2em;
        margin: 0 auto 3em;
    }

    .ajuda-fot {
        display: none
    }
}
